body {background-color: rgba(180, 130, 90, 0.5);
      font-family: "Times New Roman", Times, serif}
/* the whole website and some heading formats */






h1   {color: black;
      font-weight: bold;
      font-size: 36px;
      }
      



h2   {color:maroon;
      font-weight: bold;
      font-size: 30px}

/* link decoration  */

a {
    text-decoration: none;
    color: maroon;
    padding: 8px 8px 8px 8px;
}

p {

  text-align: justify;
  letter-spacing: 2px;
}

/* add hover change for users to notice the link */
a:hover {
  color: darkblue;
}



/* ordered nad unordered list */
ul{

	list-style-type: none;
	
}

li{
	font-size: 17px
}


/* navigation bar formats and the corresponding content to avoid overlapping */
#navigation {
  width: 100%;
  position: fixed;
  /* eliminates small gap at top of the page */
  top: 0px;
  height: 95px;
  background-color: rgba(180, 130, 90, 1.0);
}


#content {
  padding-top: 115px;
}


/* Menu division: format the menu generally including background colour and style */


#menu {
  width: 550px;
  height: 35px;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #bc9879;
  border-radius: 6px;
}

/* Menu division: format the unordered list so that it appears directly below the title of the page and below the edge of the colour background */
#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

/* Menu division: format the list items so that they display across the page instead of in a vertical list */
#menu li {
display: inline;
padding: 20px;
}

/* Menu division: format the link items so that they are dark blue, spaced apart, and do not have underlines */
#menu a {
    text-decoration: none;
    color: maroon;
    padding: 8px 8px 8px 8px;
}

/* format images so they float left and have a margin between them and the wrapped text.  */
/*Also format clear division to allow restart of next content below wrapped text. */

img {
  float: left;
  margin-right: 20px;
}



.clear {
  clear: left;
}


/* Create internal space in the cells of the table. */

table {
  		border: 15px;
  		text-align: center;
  		padding: 15px;
   		}

th, td {padding: 2px 10px 2px 10px;
        border-width: 2pt;
        text-align: center;
        padding: 15px;
}

table, th, td {
  border: 2px solid maroon;
}

th {
  background-color: #802000;
  color: white;
  font-size: 20px
}

tr:hover {background-color:#f5f5f5;}


/* form formatting */

form {background: antiquewhite;
      border: 2px solid black;
      border-radius: 5px;
      padding: 7px;
}

input[type="text"] {
  width: 90%;
}


/* text area for feedback input. */
textarea {
  width: 90%;
  height: 3em;
  
}


 * {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.footer {

  letter-spacing: 2px;
  line-height: 1.5;
  background-color: #f7ddbb;
  text-align: center;
  padding: 15px;
  
  column-count: 3;
  column-gap: 50px;

}

#settings { 
	display: block; text-align:center
	}


#paint {
	border: 1px solid black; 
	background : #333333; 
	margin-left: auto; 
	margin-right: auto; 
	display: block;
}

#switch{
  background-color:rgba(156,255,255,0.5);
  font-family: sans-serif;
  position: fixed;
  width:8%;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  margin: 12px;
  top : 60px;
  right : 5px;
  z-index: 0;
}
